
<div class="column mt-6 is-centered">
<div id="<%= dom_id entry %>">
  <div class="column is-one-third">
    <nav class="panel is-link">
  <p class="panel-heading">
    <%= entry.meal_type %>:
    <%= @entry.category.title %>
  </p>

  <div class="panel-block">
    Calories: <%= entry.calories %>
  </div>

  <div class="panel-block">
    Protiens: <%= entry.protiens %>
  </div>

  <div class="panel-block">
    Carbohydrates: <%= entry.carbohydrates %>
  </div>

  <div class="panel-block">
    Fats: <%= entry.fats %>
  </div>

</div>
</div>
</div>
</nav>